@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground: 0, 0, 0;
  --background: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: #1a1a1a;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
  font-family: "Nunito", sans-serif;
}

::selection {
  background: #719089;
  color: black;
  text-shadow: none;
}

[class*="copyrights-pane"] {
  display: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.ListProducts::-webkit-scrollbar {
  width: 8px;
}

.ListProducts::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-color: hsl(0, 0%, 67%);
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #aaaaaa;
}

.caveat {
  font-family: "Caveat", cursive;
}

a {
  display: block;
  text-decoration: none;
}

.animate-scrolling-banner-vertical {
  animation: scrolling-banner-vertical 60s linear infinite;
  -webkit-animation: scrolling-banner-vertical 60s 0.1s linear infinite;
}

@keyframes scrolling-banner-vertical {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  100% {
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
  }
}

