.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  user-select: none;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide .swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

